<div class="row">
    <div class="col-sm-6 local-charges">
        <table mat-table [dataSource]="OfferOriginCharges">
            <ng-container matColumnDef="name">
                <th mat-header-cell width="30%" *matHeaderCellDef> Charge Name </th>
                <td mat-cell *matCellDef="let charge">
                    <div *ngIf="charge.Charge_Or_Service_Name">{{charge.Charge_Or_Service_Name}} </div>
                    <div *ngIf="!charge.Charge_Or_Service_Name">&nbsp;</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="basis">
                <th mat-header-cell *matHeaderCellDef width="20%"> Charge Basis </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Basis}} </td>
            </ng-container>
            <ng-container matColumnDef="currency">
                <th mat-header-cell width="10%" *matHeaderCellDef> Curr. </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Currency_Code}} </td>
            </ng-container>
            <ng-container matColumnDef="roe">
                <th mat-header-cell class="text-center" width="15%" *matHeaderCellDef> ROE </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge"> {{charge.ROE}} </td>
            </ng-container>
            <ng-container matColumnDef="Rate">
                <th mat-header-cell class="text-center" width="12%" *matHeaderCellDef> Rate </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge">
                    <span *ngIf="charge.Is_Included">Incl.</span>
                    <span *ngIf="!charge.Is_Included">{{charge.Rate}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Tax">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Tax </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge">
                    <span *ngIf="charge.Is_Included">Incl.</span>
                    <span *ngIf="!charge.Is_Included">{{charge.Tax}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="col-sm-6 local-charges">
        <table mat-table [dataSource]="OfferDestinationCharges">
            <ng-container matColumnDef="name">
                <th mat-header-cell width="30%" *matHeaderCellDef> Charge Name </th>
                <td mat-cell *matCellDef="let charge">
                    <div *ngIf="charge.Charge_Or_Service_Name">
                        {{charge.Charge_Or_Service_Name}}
                    </div>
                    <div *ngIf="!charge.Charge_Or_Service_Name">
                        &nbsp;
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="basis">
                <th mat-header-cell *matHeaderCellDef width="20%"> Charge Basis </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Basis}} </td>
            </ng-container>
            <ng-container matColumnDef="currency">
                <th mat-header-cell width="10%" *matHeaderCellDef> Curr. </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Currency_Code}} </td>
            </ng-container>
            <ng-container matColumnDef="roe">
                <th mat-header-cell class="text-center" width="15%" *matHeaderCellDef> ROE </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge"> {{charge.ROE}} </td>
            </ng-container>
            <ng-container matColumnDef="Rate">
                <th mat-header-cell class="text-center" width="12%" *matHeaderCellDef> Rate </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge">
                    <span *ngIf="charge.Is_Included">Incl.</span>
                    <span *ngIf="!charge.Is_Included">{{charge.Rate}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="Tax">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Tax </th>
                <td mat-cell class="text-right pr-3" *matCellDef="let charge">
                    <span *ngIf="charge.Is_Included">Incl.</span>
                    <span *ngIf="!charge.Is_Included">{{charge.Tax}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
    </div>
</div>