table{
    width: 100%;
    table-layout: fixed;
}
tr.mat-header-row {
    height: 5px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

tr.mat-footer-row,
tr.mat-row {
    height: 0px;
    font-family: 'Open Sans', sans-serif;

}

.mat-header-cell {
    color: #ffffff;
    font-size: 0.75em;
    
}

.mat-cell,
.mat-footer-cell {
    font-size: 0.7em;
}
.local-charges {
    height: 125px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}



