<div class="row">
    <div class="col-sm-6 add-services">
        <table mat-table [dataSource]="offerAdditionalServiceOrigin">
            <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Or_Service_Name}} </td>
            </ng-container>
            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Or_Service_Description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="col-sm-6 add-services">
        <table mat-table [dataSource]="offerAdditionalServiceDestination">
            <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Or_Service_Name}} </td>
            </ng-container>
            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let charge"> {{charge.Charge_Or_Service_Description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
    </div>
</div>
